<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet-Tinder</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div>
    <nav>
      <div>
          {{#if logged_in}}
            <h1 id="Tendr" class="title is-1"> Tendr <i class="fa fa-paw"></i><a class="button is-pulled-right has-text-danger mt-2 mr-5" id="logout">logout</a></h1>
            
            <div class="panel has-background-black-ter">
              <div class="panel-tabs has-text-warning ">
                <a class="is-active" href="/dashboard">Dashboard</a>
                <a class="is-active" href="/profile"> My Profile</a>
                <a class="is-active" href="/createProfile">Add Pet!</a>
              </div>
            </div>
            
          {{else}}
            <h1 id="Tendr" class="title is-1"> Tendr <i class="fa fa-paw"></i><a class="button is-pulled-right has-text-danger mt-2 mr-5" href="/login">Log In/Sign Up</a></h1>
          {{/if}}
      </div>
    </nav>

    <main>
      {{{ body }}}
    </main>
    <footer>
    </footer>
  </div>

{{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}



</body>

</html>
