<section>
  {{#each likes}}
    <div class="card">
      <img src="{{Pet.profile_picture}}" alt="{{Pet.name}}'s Profile Picture" style="width:100%">
      <button>Contact</button>
    </div>
  {{/each}}
</section>
<link rel="stylesheet" href="/css/profile.css">
