<header>
    <h1>Create Pet Profile</h1>
</header>

<main>

    <form id="profile-form" class="form profile-form">

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
            <label for="profile-picture">Profile Picture URL:</label>
            <input type="button" id="profile-picture" value="Profile Picture">
        </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>
        </div>

        <div class="form-group">
            <label for="breed">Breed:</label>
            <input type="text" id="breed" name="breed" required>
        </div>

        <div class="form-group">
            <label for="picture1">Picture 1 URL:</label>
            <input type="button" id="picture1" value="First Picture (optional)">
        </div>

        <div class="form-group">
            <label for="picture2">Picture 2 URL:</label>
            <input type="button" id="picture2" value="Second Picture (optional)">

        </div>

        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" required>
        </div>

        <div class="form-group">
            <label for="interests">Interests:</label>
            <input type="text" id="interests" name="interests" required>
        </div>
        <div class="form-group">
            <label for="interests">Social Media:</label>
            <input type="text" id="socialMedia" name="socialMedia" required>
        </div>

        <button type="submit">Create Profile</button>
    </form>
</main>


<script src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>
<script src="./js/createProfile.js"></script>