
{{!-- Log In Form --}}

  <div id="login" class="block col-md-6">
    <div class="columns is-centered mt-5">
      <h2 class="title is-3 is-centered">Log In</h2>
    </div>
    <div class="columns is-centered is-vcentered">
      <div class="section is-vcentered">
        <form class="box login-form">
          <div class="form-group mb-1">
            <label for="email-login">Email</label>
            <input class="form-input is-pulled-right ml-2" type="text" placeholder="Your Email" id="email-login" />
          </div>
          <div class="form-group">
            <label for="password-login">Password</label>
            <input class="form-input is-pulled-right ml-2" type="password" placeholder="Your Password" id="password-login" />
          </div>
          <div class="form-group mt-4">
            <button class="button has-text-warning" type="submit">Log In</button>
        </form>
      </div>
    </div>
  </div>

{{!-- Sign Up Form --}}
  <div class="block col-md-6">
    <div class="columns is-centered">
      <h2 class="title is-3 is-centered">Sign Up</h2>
    </div>
    <div class="columns is-centered is-vcentered">
      <div class="section is-vcentered">
        <form class="box signup-form">
          <div class=" form-group mb-1">
            <label for="name-signup">Name</label>
            <input class="form-input is-pulled-right ml-2" type="text" placeholder="Your Name" id="name-signup" />
          </div>
          <div class="form-group mb-1">
            <label for="email-signup">Email</label>
            <input class="form-input is-pulled-right ml-2" type="text" placeholder="Your Email" id="email-signup" />
          </div>
          <div class="form-group">
            <label for="password-signup">Password</label>
            <input class="form-input is-pulled-right ml-2" type="password" placeholder="Your Password" id="password-signup" />
          </div>
          <div class="form-group mt-4">
            <button class="button has-text-primary" type="submit">Create Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
<script src="./js/login.js"></script>