<div id="StartBG" style="display: flex;">
    <img id="TendrBG" src="./assets/Tendr_BG.png" alt="Tendr_Background" width="2400px" height="1600px">
    <img id="TendrSidebars" src="./assets/Tendr_Sidebars.png" alt="Tendr_Background" width="2400px" height="1600px">
    <p id="StartMessage" class="button">Sign Up or Log In to start!</p>
</div>