<div class="page-container">
    <div class="hero">
        {{#if logged_in}} 
        <p></p>
        {{else}}
        <a class=" has-text-danger mt-2 mr-5 login-button" href="/login">Log In/Sign Up</a>
         {{/if}}
    </div>
</div>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}