
    <h1>Sign in or Log in to start</h1>

    <div class="page-container">
        <div class="hero">
       <img src="../public/assets/proj.jpg" alt="banner">
        </div>
        <footer>
               <div class="footerContainer">
<div class="socialIcons">
    <a href=""><i class="fa-brands fa-facebook"></i></a>
    <a href=""><i class="fa-brands fa-instagram"></i></a>
    <a href=""><i class="fa-brands fa-google-plus"></i></a>
    <a href=""><i class="fa-brands fa-youtube"></i></a>
    <a href=""><i class="fa-brands fa-reddit"></i></a>
</div>
</div>


        <div class="footernav">
            <nav>
                <ul>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
    </div>
    <div class="footerbottom">
<p>Copyright &copy;2024; Created by Group 3</p>
            </div>
        </footer>
    </div>