<div class="page-container">
    <div class="hero">
        {{#if logged_in}} 
        <p></p>
        {{else}}
        <a class="button login-button" href="/login">Find Fur-iends now!</a>
         {{/if}}
    </div>
</div>
{{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
