/* Base Colors */
body {
    background-color: #1f2229;
}

/* Stylised Header Bar */
#Tendr {
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb301+0,f99345+34,f99345+35,f99345+35,ffb301+50,eb6e01+51,ffb301+75,c85d00+100 */
    background: linear-gradient(135deg,  #ffb301 0%,#f99345 34%,#f99345 35%,#f99345 35%,#ffb301 50%,#eb6e01 51%,#ffb301 75%,#c85d00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

