/* Base Colors */
body {
    background-color: #1f2229;
}

/* Stylised Header Bar */
#Tendr {
    color: #ffffff;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb301+0,f99345+34,f99345+35,f99345+35,ffb301+50,eb6e01+51,ffb301+75,c85d00+100 */
    background: linear-gradient(135deg,  #ffb301 0%,#f99345 34%,#f99345 35%,#f99345 35%,#ffb301 50%,#eb6e01 51%,#ffb301 75%,#c85d00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


/* Ensure the page fills the viewport */
html, body {
    height: 100%;
}

.page-container {
    min-height: 100%; 
    display: flex;
    flex-direction: column;
}

.background-section {
    background-color: #f0f0f0; 
    background-image: url('/public/assets/petproj.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* //footer */

footer {
background-color: #ffffff;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}


.socialIcons {
    display: flex;
    justify-content: center;

}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

/* hover effects on socialIcons */

.socialIcons a:hover {
    background-color: #1f2229;
    transition: 0.5s;
}

.socialIcons a:hover i {
    color: #f0f0f0;
    transition: 0.5s;
}


.footernav {
    margin: 30px 0;
}

.footernav ul {

display: flex;
justify-content: center;
list-style-type: none;
}

.footernav ul li a {
    color: #080101;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover {
opacity: 1;

}


.footerbottom {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.footerbottom p {
    color: #110101;
}


@media (max-width: 700px) {
    .footernav ul {
        flex-direction: column;
    }
   .footernav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
   } 
}
